{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <title>Login | Sweets N' Treats</title>
</head>
<body>
  <div class="container">
    <h2>WELCOME TO SWEETS N' TREATS</h2>

    <div class="login-box">
      {% if messages %}
        {% for message in messages %}
          <p class="error">{{ message }}</p>
        {% endfor %}
      {% endif %}

      <form method="POST">
        {% csrf_token %}
        
        <div class="input-group">
          <span class="icon">👤</span>
          <input type="text" name="username" placeholder="Username" required>
        </div>

        <div class="input-group">
          <span class="icon">🔒</span>
          <input type="password" id="password-field" name="password" placeholder="Password" required>
        </div>

        <div class="show-password">
          <label class="switch">
          <input type="checkbox" id="togglePassword">
          <span class="slider round"></span>
        </label>
          <span class="label-text">Show Password</span>
        </div>
        
        <button type="submit" class="login-btn">LOGIN</button>
      </form>
    </div>
  </div>

  <script>
  const passwordField = document.getElementById("password-field");
  const togglePassword = document.getElementById("togglePassword");

  togglePassword.addEventListener("change", function () {
      if (passwordField.type === "password") {
          passwordField.type = "text";
      } else {
          passwordField.type = "password";
      }
  });
</script>

</body>
</html>
